name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10" , "3.11", "3.12"]    

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9  # Use the desired Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install vtk h5py coverage numpy

    - name: Run tests
      run: |
        python -m unittest discover -s test -p "*.py"
        
    - name: Run tests with coverage
      run: |
        pip install coverage
        coverage run -m unittest discover -s test -p "*.py"
        coverage report        

